@model Editview
@{
    ViewData["Title"] = "Login";
}

<div class="text">
 
    @using(Html.BeginForm("Editview","Home",FormMethod.Post,new {id="formRegistration",enctype="multipart/form-data"}))
    {
<div class="form-group">
   <label for="Dish Name" class="col-md-3 control-label">Dish Name</label>
    <div class="col-md-9">
      @Html.TextBoxFor(x => x.DishName, "", new { @class = "form-control", placeholder = "Dish Name" })
   
   @Html.ValidationMessageFor(x => x.DishName)
   </div>
  </div>

<div class="form-group">
   <label for="cate" class="col-md-3 control-label">Category</label>
<div class="col-md-9">
   @Html.DropDownListFor(x => x.Category, 
            new SelectList(Enum.GetValues(typeof(cate))), 
            "Select category")
               @Html.ValidationMessageFor(x => x.Category)
   </div>
</div>
<br />
 <div class="form-group">
   <label for="type" class="col-md-3 control-label">Type</label>
<div class="col-md-9">

   @Html.TextAreaFor(x => x.Type, new { @class = "form-control", placeholder = "Type" })
 
   @Html.ValidationMessageFor(x => x.Type)
</div>
</div>
<br />
<div class="form-group">
   <label for="lastname" class="col-md-3 control-label">Image</label>
<div class="col-md-9">
   <input type="file" name="Image"/>
   
</div>
</div>
  <div class="form-group">
   <label for="price " class="col-md-3 control-label">Price</label>
    <div class="col-md-9">
      @Html.TextBoxFor(x => x.Price, "", new { @class = "form-control", placeholder = "Price" })
   @Html.ValidationMessageFor(x => x.Price)
   </div>
  </div>
    <div class="form-group">
   <label for="price " class="col-md-3 control-label">Quantity</label>
    <div class="col-md-9">
       @Html.TextBoxFor(x => x.Quantity, "", new { @class = "form-control", placeholder = "Quantity" }) 
   @Html.ValidationMessageFor(x => x.Quantity)
   </div>
  </div>

<div class="form-group">
   <span id="spnMessage" class="text-danger">@TempData["Message"]</span>
   <br />

<div class="col-md-offset-3 col-md-9">
   <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> Submit</button>
   <span style="margin-left:8px;"></span>
</div>
</div>

    
    }